@{ 
    ViewBag.Title = "Home Page";
}


<h2> The world </h2>
    <p>what the hell is going on today</p>
    <form >
        <div>
            <label>Date</label>
            <input name="" value="" />
        </div>

        <div>
            <label>Date</label>
            <input name="" value="" />
        </div>

        <div>
            <input type="submit" name="name" value="Add" />
        </div>
    </form>
            