@model IEnumerable<theWorld1_5.Models.Trip>
@{ 
    ViewBag.Title = "Home Page";
}


<div class=row>
    <div class="col-md-12">
        <h1>   Welcome to ChainLink </h1>
        <p>This app will allow you to plan your trips Across the world and Comment on other peoples Trips</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-lg btn-success">View My Trips</a>

    </div>
</div>
