@model IEnumerable<theWorld1_5.Models.Trip>
@{
    ViewBag.Title = "Home Page";
}
@section Scripts{

    <script src="~/vendor/angular/angular.min.js"></script>
    <script src="~/vendor/angular-route/angular-route.min.js"></script>
    <script src="~/myJs/simpleControls.js"></script>
    <script src="~/myJs/app-trips.js"></script>
    <script src="~/myJs/tripsController.js"></script>
}


<div class="row" ng-app="app-trips">

    <div ng-view></div>


    <div class="col-md-6">
        <form>
            <h1> The world </h1>
            <p>what the hell is going on today</p>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>

            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div>
                <input type="submit" name="name" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>The Map</h2>

    </div>
</div>
